<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="add-inventory">
  <form action="/inv/add-inventory" method="post" id="add-inventory-form">
    <p class="note">Note: All fields are required.</p>
    <label for="classificationId">Select the vehicle classification:</label><br>
      <%- classificationSelector %>
    <label for="invMake">Enter the vehicle make:</label><br>
    <input type="text" id="invMake" name="inv_make" required value="<%= locals.inv_make %>" placeholder="Ram"><br>
    <label for="invModel">Enter the vehicle model:</label><br>
    <input type="text" id="invModel" name="inv_model" required value="<%= locals.inv_model %>" placeholder="2500"><br>
    <label for="invYear">Enter the vehicle year:</label><br>
    <input type="number" id="invYear" name="inv_year" required value="<%= locals.inv_year %>" placeholder="2017" min="1900" max="2050"><br>
    <label for="invDescription">Give a description of the vehicle:</label><br>
    <textarea id="inv_description" name="invDescription" rows="5" cols="45">

    </textarea><br>
    <label for="invPrice">Enter the vehicle price:</label><br>
    <input type="text" name="currency-field" id="currency-field" value="" data-type="currency" placeholder="$25,000.00" required value="<%= locals.inv_color %>"><br>    
    <label for="invMiles">Enter the vehicle miles:</label><br>
    <input type="number" id="invMiles" name="inv_miles" required value="<%= locals.inv_miles %>" placeholder="63,000" min="0" max="10000000"><br>
    <label for="invColor">Enter the vehicle color:</label><br>
    <input type="text" id="invColor" name="inv_color" required value="<%= locals.inv_color %>" placeholder="Red"><br>
    <button type="submit" id="add-inventory-btn">Add to Inventory</button>
  </form>
</div>